<!-- sidebar dla zasobów -->
{{ page.categories }}
<div class="sidebar col-md-4">
		<div class="sidebar-title">
				Zasoby
</div>
	
	<ul>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony">Narzędzia i szablony <i class="fa fa-angle-down" aria-hidden="true"></i></a>
<ul>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony/odbiorcy">Odbiorcy</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony/historyjki-uzytkownika">Historyjki użytkownika</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony/matryca-wysilku-i-wplywu">Matryca wysiłku i wpływu</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony/manifest">Manifest</a></li>
</ul>
	
</div>
