<!-- sidebar dla zasobów -->
{{ page.categories }}
<div class="sidebar col-md-4">
		<div class="sidebar-title">
				Zasoby
</div>
	
	<ul>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony">Narzędzia i szablony <i class="fa fa-angle-down" aria-hidden="true"></i></a>
<ul>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony/odbiorcy">Matematyka praktycznie</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony/historyjki-uzytkownika">Czas na App</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony/matryca-wysilku-i-wplywu">Przemycić matematykę</a></li>
<li><a href="{{site.baseurl }}/static_pages/zasoby/narzedzia-i-szablony/manifest">Praca w grupach</a></li>
</ul>
	
</div>
